<!DOCTYPE html>
<html>
<head>
<title>NBA TALK WEBSITE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
* {
  box-sizing: border-box;
}
.Fixed
{
    position: fixed;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}
.bg {
  /* The image used */
 

  /* Full height */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}

</style>
</head>
<body>

<div class="text-center header text-monospace">
  <h1>NBA TALK <img src = "../storage/private/Webp.net-resizeimage.png"/> </h1>
</div> 
   