{{>header}}

{{>navigation}}
{{>teamLogo}}
<div class="container" >
  <div class=" row">
    <div class="col-lg-12">
      <div class="card align-items-center  background:url(">
        <h2>Welcome to NBA Talk! </h2>
        <p>Signup and let your feelings be heard!</p>
        <br/>
        <img style="opacity:0.5;" src="storage/private/finals_trophy.png" />

      </div>
    </div>
  </div>
</div>

{{>footer}}
