{{>header}}

{{>navigation}}
<div class="container" >
  <div class=" row">
    <div class="col-lg-6">
      <div class="card align-items-center">
        {{#signup}}
          <h2>{{{signUptitle}}}{{{errorTitle}}}</h2>
          <p>Please create a username and a password.</p>
          <p style="color:red;">{{ signup_error }}</p>
          <form action="/signup/attemptsignup" method="post">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" class="form-control" placeholder="username"> 
            </div>
            <div class="form-group">
              <label for="password">Password:</label> 
              <input type="password" name="password" class="form-control" placeholder="password"> 
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label> 
              <input type="password" name="confirmPassword" class="form-control" placeholder="confirm password"> 
              <small id="match2" class="form-text text-muted">Passwords must match</small>
            </div>
            <div class="form-group" >
              <label for="team">Select your favorite team:</label> 
              <select name="team" id="team" class="form-control">
                {{#teams}}
                <option value="{{team_name}}">{{team_name}}</option>
                {{/teams}}  
              </select>
            </div>
            <input type="submit" value="signup" class="btn btn-primary">
          </form> <br />
        {{/signup}}
        {{#signupSuccessful}}
          <h2 style="color:green;">Thanks for registering!</h2>
          <p>Click the login link below to login as a member!</p>
          <p style="font-size:30px;"> <a href="/login">login</a> </p>
        {{/signupSuccessful}}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card align-items-right">
        <ul>
          <li>Username must be at least 1 character in length </li>
          <li>Password must be at least 8 characters in length</li>
          <li>Passwords must match</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
 
{{>footer}}
